/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Moderate violet: hsl(263, 55%, 52%)
Very dark grayish blue: hsl(217, 19%, 35%)
Very dark blackish blue: hsl(219, 29%, 14%)
White: hsl(0, 0%, 100%)

### Neutral

Light gray: hsl(0, 0%, 81%)
Light grayish blue: hsl(210, 46%, 95%)

Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

## Typography

### Body Copy

- Font size: 13px

### Font

- Family: [Barlow Semi Condensed](https://fonts.google.com/specimen/Barlow+Semi+Condensed)
- Weights: 500, 600
*/
:root {
    --daniel-bg:hsl(263, 55%, 52%);
    --jonathan-bg:hsl(217, 19%, 35%);
    --jeanatte-bg:hsl(0, 0%, 100%);
    --patrick-bg:hsl(219, 29%, 14%);
    --name-txt-color:hsl(0, 0%, 100%);
    --verified-grad-txt-color:hsl(0, 0%, 100%, 50%);
    --blockquote-txt-color:hsl(0, 0%, 100%, 70%);
    --light-gray:hsl(0, 0%, 81%);
    --light-grayish-blue:hsl(210, 46%, 95%);
    --kira-jean-name-txt-color:hsl(217, 19%, 35%);
    --kira-jean-verified-grad-txt-color:hsla(217, 19%, 35%, 50%);
    --kira-jean-blockquote:hsla(217, 19%, 35%, 70%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 0.82rem;
    font-weight: 500;
}
body {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-grayish-blue);
    min-height: 100vh;
}
main {
    width:90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
h1 {
    display: none;
}
section {
    border-radius: .5rem;
    padding: 2rem;
}
.personal-info-container {
    display: flex;
    align-items: center;
    gap:1rem;
}
img {
    display: block;
    max-width: 2rem;
    border-radius: 50%;
}
.personal-info {
    display: flex;
    flex-direction: column;
}
.name{
    color:var(--name-txt-color);
    font-weight: 600;
}
.verified-grad {
    color:var(--verified-grad-txt-color);
}
h2 {
    color: var(--name-txt-color);
    font-size: 1.3rem;
    margin-block: 1rem;
    font-weight: 600;
}
blockquote {
    color: var(--blockquote-txt-color);
}
.section-daniel {
    background-image: url(bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 2rem);
    background-color: var(--daniel-bg);
}
.section-daniel img {
    border: 2px solid var(--verified-grad-txt-color);
}
.section-jonathan {
    background-color: var(--jonathan-bg);
}
.section-jeanette {
    background-color: var(--jeanatte-bg);
}
.section-jeanette .name {
    color: var(--kira-jean-name-txt-color);
}
.section-jeanette  .verified-grad {
    color: var(--kira-jean-verified-grad-txt-color);
}
.section-jeanette > h2 {
    color: var(--kira-jean-name-txt-color);
}
.section-jeanette > blockquote {
    color: var(--kira-jean-blockquote);
}
.section-patrick {
    background-color: var(--patrick-bg);
}
.section-patrick img {
    border: 2px solid var(--daniel-bg);
}
.section-kira {
    background-color: var(--jeanatte-bg);
}
.section-kira .name {
    color: var(--kira-jean-name-txt-color);
}
.section-kira  .verified-grad {
    color: var(--kira-jean-verified-grad-txt-color);
}
.section-kira > h2 {
    color: var(--kira-jean-name-txt-color);
}
.section-kira > blockquote {
    color:var(--kira-jean-blockquote);
}
@media screen and (min-width:600px) {
    main{
        display: grid;
        grid-template-columns: 2;
    }
    .section-daniel {
        grid-column: 1/2;
    }
    .section-jonathan {
        grid-column: 2/3;
    }
    .section-kira {
        grid-column: 1/3;
    }
    
}
@media  screen and (min-width:900px) {
    body {
        justify-content: center;
    }
    main {
        width:80%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    .section-daniel {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .section-jonathan {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .section-jeanette {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .section-patrick {
        grid-column: 2/4;
    }
    .section-kira {
        grid-column: 4/5;
        grid-row: 1/3;
    }
}












